<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>CTCP</title>
</head>
<body>
    <header>
        <img class="logo" src="/public/img/logo.png">
        <nav>
            <p><a href="#" class="link">recomendaciones</a></p>
            <p><a href="#" class="link">iniciar sesión</a></p>
            <p><a href="#" class="link">registrarse</a></p>
        </nav>
    </header>

    <main>
        <section class="intro">
            <p class="message">Descubre el mundo de las computadoras de una manera interactiva y emocionante.</p>
            <p><a class="button_start" href="#">comenzar</a></p>
        </section>
    </main>
</body>
</html>